@using Bio.Models.EntityFramework
@model List<Orders>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a class="btn btn-primary" href="/Home/Yeni">Yeni Istifadeci</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Yenile</th>
            <th>Sil</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.OrderID</td>
                <td>@item.ShipName</td>
                <td> <a class="btn btn-primary" href="/Home/Update/@item.OrderID">Duzelis et</a></td>
                <td> <a class="btn btn-warning" href="/Home/Delete/@item.OrderID">Sil</a></td>


            </tr>

        }

    </tbody>
</table>